@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #f9b130;
  --color-secondary: #0e2638;
  --color-tertiary: #fff6d2;
  --color-quaternary: #dd8510;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Arial, sans-serif;
}

.text-size-regular {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

